@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

*{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #0033cc;
}
.seccionMenu{
    position: absolute;
    width: 100%;
    height: 100%;
}

.seccion{
    position: absolute;
    width: 90%;
    padding-left: 10%;
    background-color: #0033cc;
    color: white;
}

#divMenu{
    background-color: darkcyan;
    left:-100%;
    top: 5%;
    height: 90%;
    padding-right: 5%;

    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
#opciones{
    float: right;
    padding: 10px;
}
#divPortada{
    left:-100%;
    top:0px;
}
#divCatalogo{
    left:0px;
    top:0px;
}
#divCesta{
    left:-100%;
    top:0px;
}

.ficha {
    padding: 2em;
    width: 80%;
    height: 30%;
    background-color: #809fff;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin:auto;
    margin-bottom: 0.5em;
}

.ficha img{
    height: 10em;
}

